@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
}

h2 {
    font-size: 2.5rem;
}

.myNavbar {
    width: 80% !important;
}

.reservationButton {
    background-color: goldenrod;
    
}

.nav-link:hover {
    color: goldenrod !important;
}

.reservationDiv {
    background-color: rgb(51, 51, 51);
    width: 100%;
}

.block h2 {
    text-align: center;
}

.rooms-banner h1 {
    margin-bottom: 10%;
    font-size: 2.5rem;
    text-shadow: 2px 2px 25px rgba(0, 0, 0, 1);
}

.myCarousel {
    height: 50vh;
    margin-top: 10px;
    margin-bottom: 10;
}

.videodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.video {
    height: 300px;
}

.logoDiv {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid goldenrod;
}

.block * {
    padding: 15px;
}

.photoBlock {
    height: 400px;
    margin: auto;
    background-size: cover;
}

.photoBlock-1 {
    background-image: url("https://warszawa.intercontinental.com/wp-content/uploads/2019/06/Basenwarszawa-600x550.jpg");
}

.photoBlock-2 {
    background-image: url("https://warszawa.intercontinental.com/wp-content/uploads/2017/08/Lobby_InterContinental-Warsaw-16-600x550.jpg");
}

.rooms-banner {
    background-image: url("roomImages/rooms.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    height: 50vh;
}

.largeNav {
    background-color: rgb(31, 31, 31) !important;
}

hr {
    margin: 10px;
    height: 2px;
    background-color: goldenrod;
}

.mobileFooter {
    text-align: center;
    border-top: 1px solid goldenrod;
    padding: 10px;
}

.mobileNav {
    background-color: rgb(31, 31, 31);
}

.roomDiv {
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 0px goldenrod;
    -moz-box-shadow: 0px 0px 5px 0px goldenrod;
    box-shadow: 0px 0px 5px 0px goldenrod;
    border-radius: 5px;
}

.roomPhoto {
    width: 100%;
}

.roomDiv * {
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .largeNav {
        display: none;
    }
    .mobileNav {
        display: flex;
    }
    hr:first-child {
        margin-top: 0;
    }
}

li {
    padding: 10px;
}


/*
.fade-on-scroll {
    display: none;
}*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .mobileNav {
        display: none;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .roomDiv {
        display: flex;
        flex-direction: row;
    }
    .roomPhoto {
        width: 50%;
    }
    .loginContainer {
        flex-direction: row !important;
        justify-content: center;
        width: 100% !important;
    }
    .loginContainer:last-child,
    .loginContainer:first-child {
        width: 50%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}